/*  Estilos Gerais  */
* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #dde0e0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

/*  Estilos Dark Mode  */
.dark {
    background-color: #282c2f;
}

.dark .calculadora {
    background-color: #33393e;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25), -15px -15px 20px rgba(0, 0, 0, 0.25);
}

.dark #valor {
    background-color: #33393e;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.5), inset -15px -15px 20px rgba(0, 0, 0, 0.3);
    color: #edf1f4;
}

.dark .button {
    border: none;
    color: #edf1f4;
    background-color: #33393e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),  -5px -5px 20px rgba(0, 0, 0, 0.1);
}

.dark .button:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 20px rgba(0, 0, 0, 0.1);
}

.dark #clear:active, .dark #mais:active, .dark #menos:active, .dark #igual:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1)
}

/*  Estilo DIV Calculadora  */
.calculadora {
    border-radius: 20px;
    background-color: #edf1f4;
    position: relative;
    color: black;
    padding: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px rgba(0, 0, 0, 0.1);
}

/*  Estilo do display superior  */
#valor {
    color: #666;
    background-color: #edf1f4;
    position: relative;
    overflow: none;
    width: 100%;
    text-align: end;
    height: 100px;
    line-height: 100px;
    user-select: none;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
    border-radius: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
    font-size: 2em;
    font-weight: 500;
}

/*  Estilo botões  */
.button {
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),  -5px -5px 20px #edf1f4;
    padding: 10px;
    width: 50px;
    min-width: 40px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    color: #666;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button:active {
    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
}

/*  Botão Clear  */
#clear {
    color: #edf1f4;
    background-color: #f44336;
}

#clear:hover {
    background-color: #ce1306;
}

/*  Botão +  */
#mais {
    color: #edf1f4;
    background-color: #05be4c;
}

#mais:hover {
    background-color: #068336;
}

/*  Botão -  */
#menos{
    color: #edf1f4;
    background-color: #dfbe05de;
}

#menos:hover {
    background-color: #b39805de;
}

/*  Botão =  */
#igual {
    color: #edf1f4;
    background-color: #2196f3;
}

#igual:hover {
    background-color: #035599;
}

/*  Shadow-Box dos botões especiais  */
#clear:active, #mais:active, #menos:active, #igual:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff, inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/*  Estilo do botão de Switch(dark/light)  */
.switch-button {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #666;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.dark .switch-button {
    background-color: #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.switch-button:hover {
    transition: 0.4s;
    transform: scale(1.2);
}